<table cellspacing ="4" cellpadding="4" border="1">
    <h2>{{approach.name}}</h2>
    <tr>
        <td style="width:400px;">
            <b>{{localize "fate-core-official.Description"}}:</b>
        </td>
        <td style="width:2000px;">
            {{approach.description}}
        </td>
    </tr>
    <tr>
        <td>
            <b>{{localize "fate-core-official.Overcome"}}:</b>
        </td>
        <td>
            {{approach.overcome}}
        </td>
    </tr>
    <tr>
        <td>
            <b>{{localize "fate-core-official.CAA"}}:</b>
        </td>
        <td>
            {{approach.caa}}
        </td>
    </tr>
    <tr>
        <td>
            <b>{{localize "fate-core-official.Attack"}}:</b>
        </td>
        <td>
            {{approach.attack}}
        </td>
    </tr>
    <tr>
        <td>
            <b>{{localize "fate-core-official.Defend"}}:</b>
        </td>
        <td>
            {{approach.defend}}
        </td>
    </tr>
</table>