<h1>{{approach.name}} {{skill.name}}</h1>
{{localize "fate-core-official.RolledBy"}}: {{game.user.name}}<br />
{{localize "fate-hybrid-skills.approachRank"}}: {{approachRank}} ({{approachRung}})<br />
{{localize "fate-core-official.SkillRank"}}: {{skillRank}} ({{skillRung}})
